In [21]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
music_data = pd.read_csv("music.csv")
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [5]:
X = music_data.drop(columns=['genre'])
Y = music_data['genre']
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [7]:
model = DecisionTreeClassifier()
model.fit(X,Y)
predictions = model.predict([[21, 1],[22,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [16]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)
model1 = DecisionTreeClassifier()
model1.fit(X_train,Y_train)
pred = model1.predict(X_test)

score = accuracy_score(Y_test,pred)
score

1.0

In [27]:
#from sklearn.externals import joblib
from sklearn import tree

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3)
model2 = DecisionTreeClassifier()
model2.fit(X_train,Y_train)
#joblib.dump(model2,"music-recommender.joblib")


tree.export_graphviz(model2, out_file="music-recommender.dot",
                    feature_names = ["age","gender"],
                    class_names = sorted(Y.unique()),
                     label = "all",
                     rounded = True,
                     filled = True
                    )